# Álgebra lineal matricial

In [17]:
df = read.csv('https://raw.githubusercontent.com/Fabimath/mat266_taller/main/data_base/ingresos.csv')
head(df)
summary(df)
colnames(df) = c('Y','X1','X2','X3')

  Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 261.9792             23.78886             29.32720
2 241.7438             19.02130             31.13219
3 249.9436             23.98940             30.40001
4 261.1872             23.81729             32.41257
5 238.4335             21.24392             29.82868
6 229.0059             15.38015             31.51082
  Ingresos.por.Turismo
1 15.273709
2 11.682238
3  8.641648
4  7.503870
5  6.500288
6  6.803228

 Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
 Min.   :211.0        Min.   :15.38        Min.   :26.15
 1st Qu.:231.5        1st Qu.:17.53        1st Qu.:28.71
 Median :240.9        Median :19.12        Median :29.98
 Mean   :242.0        Mean   :19.99        Mean   :30.33
 3rd Qu.:251.9        3rd Qu.:21.55        3rd Qu.:32.24
 Max.   :272.6        Max.   :27.21        Max.   :33.71
 Ingresos.por.Turismo
 Min.   : 3.328
 1st Qu.: 7.329
 Median : 9.400
 Mean   : 9.653
 3rd Qu.:11.725
 Max.   :17.324

In [18]:
colnames(df) = c('Y','X1','X2','X3')

### Objetivo
Realizar un ajuste lineal y las pruebas sin summary

In [21]:
X1 = df$X1
X2 = df$X2
X3 = df$X3

$$
Y=XB \ \ \ X = (1 | X1 | X2 | ... ) 
$$

In [32]:
X=cbind(rep(1,length(X1)),X1,X2,X3)
Y=df$Y

$$
B = (X^T X)^{-1} X^T Y
$$

In [42]:
B=solve(t(X)%*%X)%*%t(X)%*%Y
B

   [,1]
   69.268004
X1  4.122346
X2  2.541775
X3  1.368291

In [44]:
C= solve(t(X)%*% X)

In [67]:
n = length(X1)
k = 3
SCR = t(B)%*%t(X)%*%Y - length(X1)*mean(Y)^2
SCE = t(Y)%*%Y - t(B)%*%t(X)%*%Y
SCT = SCR + SCE
R2 = SCR/SCT
R2a = 1 - ( SCE/(n-k-1) )/(SCT/(n-1))
Fast = (SCR/k) / (SCE/(n-k-1))
alpha = 0.05
Fast > qf(1-alpha,k,n-k-1) #rechazo

     [,1]
[1,] TRUE

In [81]:
SCe2 = SCE/(n-k-1)
# Caso B0
t1ast = (B[1] - 0)/sqrt(SCe2*C[1,1])
abs(t1ast)>qt(1-alpha/2,n-k-1)
# Caso B1
t2ast = (B[2] - 0)/sqrt(SCe2*C[2,2])
abs(t2ast)>qt(1-alpha/2,n-k-1)
# Caso B2
t3ast = (B[3] - 0)/sqrt(SCe2*C[3,3])
abs(t3ast)>qt(1-alpha/2,n-k-1)
# Caso B3
t4ast = (B[4] - 0)/sqrt(SCe2*C[4,4])
abs(t4ast)>qt(1-alpha/2,n-k-1)
sqrt(SCe2)

     [,1]
[1,] TRUE

     [,1]
[1,] TRUE

     [,1]
[1,] TRUE

     [,1]
[1,] TRUE

     [,1]
[1,] 6.327617

In [82]:
reg = lm(Y~X1+X2+X3)
summary(reg)
anova(reg)
sum(anova(reg)$`Sum Sq`)-640

Call:
lm(formula = Y ~ X1 + X2 + X3)

Residuals:
     Min       1Q   Median       3Q      Max
-11.8400  -2.8931   0.9368   3.4093   9.8357

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  69.2680    25.7662   2.688  0.01615 *
X1            4.1223     0.4766   8.650 1.99e-07 ***
X2            2.5418     0.7480   3.398  0.00368 **
X3            1.3683     0.4676   2.926  0.00989 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 6.328 on 16 degrees of freedom
Multiple R-squared:  0.8588,	Adjusted R-squared:  0.8324
F-statistic: 32.45 on 3 and 16 DF,  p-value: 4.922e-07

          Df Sum Sq    Mean Sq    F value   Pr(>F)
X1         1 3328.1187 3328.11872 83.122471 9.780679e-08
X2         1  226.5709  226.57093  5.658793 3.016267e-02
X3         1  342.8480  342.84800  8.562907 9.887116e-03
Residuals 16  640.6198   40.03874        NA           NA

[1] 3898.157

In [91]:
??library('MASS')

ERROR: Error in help.search(c("library", "MASS"), package = NULL): argument 'pattern' must be a single character string

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: inesperado ')'
1: ?)
     ^