# Validación cruzada para competencia de modelos

Vamos a considerar los siguientes datos

In [25]:
df = read.csv('https://raw.githubusercontent.com/Fabimath/mat266_taller/main/data_base/ingresos.csv')
head(df)
summary(df)

  Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 261.9792             23.78886             29.32720
2 241.7438             19.02130             31.13219
3 249.9436             23.98940             30.40001
4 261.1872             23.81729             32.41257
5 238.4335             21.24392             29.82868
6 229.0059             15.38015             31.51082
  Ingresos.por.Turismo
1 15.273709
2 11.682238
3  8.641648
4  7.503870
5  6.500288
6  6.803228

 Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
 Min.   :211.0        Min.   :15.38        Min.   :26.15
 1st Qu.:231.5        1st Qu.:17.53        1st Qu.:28.71
 Median :240.9        Median :19.12        Median :29.98
 Mean   :242.0        Mean   :19.99        Mean   :30.33
 3rd Qu.:251.9        3rd Qu.:21.55        3rd Qu.:32.24
 Max.   :272.6        Max.   :27.21        Max.   :33.71
 Ingresos.por.Turismo
 Min.   : 3.328
 1st Qu.: 7.329
 Median : 9.400
 Mean   : 9.653
 3rd Qu.:11.725
 Max.   :17.324

## Trabajo 1
Realice un modelo lineal con todos los datos que permita predecir el ingreso en dolares y analice su calidad.

In [ ]:
# Escriba aquí

## Trabajo 2
Un trabajador sugiere que es razonable pensar que si no hay ingresos de ningún tipo entonces el ingreso en dolares sera 0.
Realice un modelo lineal teniendo en cuenta esta sugerencia.

In [26]:
# Escriba aquí

## Trabajo 3
### Comparación de modelos
Queremos un nuevo criterio para comparar por que, puede ser que frente a otros datos, o menos datos un modelo sea mejor que el otro.
Por tanto aprenderemos nuevas funciones con el objetivo de hacer validación cruzada.

In [39]:
X = c(1,2,3,4,5,6,7,8,9,10)
sample(X,2)

[1] 5 3

Podemos fijar una semilla si queremos que el resultado aleatorio no cambie

In [41]:
set.seed(0)
sample(X,4)

[1] 9 4 7 1

Ahora lo haremos con porcentajes, para ello debemos usar la función sample de manera ingeniosa.

In [44]:
length(X) #entrega el largo del vector

[1] 10

In [50]:
37/length(X) # Corresponde a la cantidad de datos equivalentes al 35%

[1] 3.7

In [51]:
set.seed(0)
sample(X,37/length(X))

[1] 9 4 7

Note que por defecto trunca el resultado

Veamos como hacerlo en una base de datos

In [112]:
head(df)
dfaux=cbind(aux=seq(1,length(df$Ingresos.por.Bitcoin)),df)
m.a.=sample(dfaux$aux,2)
subset(dfaux,aux %in% m.a.)

  Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 261.9792             23.78886             29.32720
2 241.7438             19.02130             31.13219
3 249.9436             23.98940             30.40001
4 261.1872             23.81729             32.41257
5 238.4335             21.24392             29.82868
6 229.0059             15.38015             31.51082
  Ingresos.por.Turismo
1 15.273709
2 11.682238
3  8.641648
4  7.503870
5  6.500288
6  6.803228

  aux Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 1   261.9792             23.78886             29.32720
8 8   240.0179             19.11584             27.92714
  Ingresos.por.Turismo
1 15.27371
8 13.46961

Procedemos a hacer una Cross Validation con 80 20