# Validación cruzada para competencia de modelos

Vamos a considerar los siguientes datos

In [11]:
df = read.csv('https://raw.githubusercontent.com/Fabimath/mat266_taller/main/data_base/ingresos.csv')
head(df)
summary(df)

  Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 261.9792             23.78886             29.32720
2 241.7438             19.02130             31.13219
3 249.9436             23.98940             30.40001
4 261.1872             23.81729             32.41257
5 238.4335             21.24392             29.82868
6 229.0059             15.38015             31.51082
  Ingresos.por.Turismo
1 15.273709
2 11.682238
3  8.641648
4  7.503870
5  6.500288
6  6.803228

 Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
 Min.   :211.0        Min.   :15.38        Min.   :26.15
 1st Qu.:231.5        1st Qu.:17.53        1st Qu.:28.71
 Median :240.9        Median :19.12        Median :29.98
 Mean   :242.0        Mean   :19.99        Mean   :30.33
 3rd Qu.:251.9        3rd Qu.:21.55        3rd Qu.:32.24
 Max.   :272.6        Max.   :27.21        Max.   :33.71
 Ingresos.por.Turismo
 Min.   : 3.328
 1st Qu.: 7.329
 Median : 9.400
 Mean   : 9.653
 3rd Qu.:11.725
 Max.   :17.324

## Trabajo 1
Realice un modelo lineal con todos los datos que permita predecir el ingreso en dolares y analice su calidad.

In [12]:
colnames(df) = c('Y','X1','X2','X3')

In [13]:
reg1 = lm(Y~X1+X2+X3,df)
summary(reg)
shapiro.test(resid(reg))

Call:
lm(formula = Y ~ 0 + X1 + X2 + X3, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-12.4732  -4.0617  -0.1162   5.2285  11.4611

Coefficients:
   Estimate Std. Error t value Pr(>|t|)
X1   4.4622     0.5371   8.308 2.18e-07 ***
X2   4.3858     0.3487  12.578 4.89e-10 ***
X3   2.0234     0.4665   4.338 0.000447 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.396 on 17 degrees of freedom
Multiple R-squared:  0.9992,	Adjusted R-squared:  0.9991
F-statistic:  7159 on 3 and 17 DF,  p-value: < 2.2e-16

	Shapiro-Wilk normality test

data:  resid(reg)
W = 0.97115, p-value = 0.7789

## Trabajo 2
Un trabajador sugiere que es razonable pensar que si no hay ingresos de ningún tipo entonces el ingreso en dolares sera 0.
Realice un modelo lineal teniendo en cuenta esta sugerencia.

In [14]:
reg2 = lm(Y~0+X1+X2+X3,df)
summary(reg)
shapiro.test(resid(reg))

Call:
lm(formula = Y ~ 0 + X1 + X2 + X3, data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-12.4732  -4.0617  -0.1162   5.2285  11.4611

Coefficients:
   Estimate Std. Error t value Pr(>|t|)
X1   4.4622     0.5371   8.308 2.18e-07 ***
X2   4.3858     0.3487  12.578 4.89e-10 ***
X3   2.0234     0.4665   4.338 0.000447 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.396 on 17 degrees of freedom
Multiple R-squared:  0.9992,	Adjusted R-squared:  0.9991
F-statistic:  7159 on 3 and 17 DF,  p-value: < 2.2e-16

	Shapiro-Wilk normality test

data:  resid(reg)
W = 0.97115, p-value = 0.7789

## Trabajo 3
### Comparación de modelos
Queremos un nuevo criterio para comparar por que, puede ser que frente a otros datos, o menos datos un modelo sea mejor que el otro.
Por tanto aprenderemos nuevas funciones con el objetivo de hacer validación cruzada.

In [29]:
X = c(1,2,3,4,5,6,7,8,9,10)
sample(X,2)

[1] 1 5

Podemos fijar una semilla si queremos que el resultado aleatorio no cambie

In [45]:
set.seed(0)
sample(X,4)

[1] 9 4 7 1

Ahora lo haremos con porcentajes, para ello debemos usar la función sample de manera ingeniosa.

In [44]:
length(X) #entrega el largo del vector

[1] 10

In [46]:
37*length(X)/100 # Corresponde a la cantidad de datos equivalentes al 35%

[1] 3.7

In [47]:
set.seed(0)
sample(X,37*length(X)/100)

[1] 9 4 7

Note que por defecto trunca el resultado

Veamos como hacerlo en una base de datos

In [60]:
head(df)
dfaux=cbind(aux=seq(1,dim(df)[1]),df)
dfaux

  Y        X1       X2       X3
1 261.9792 23.78886 29.32720 15.273709
2 241.7438 19.02130 31.13219 11.682238
3 249.9436 23.98940 30.40001  8.641648
4 261.1872 23.81729 32.41257  7.503870
5 238.4335 21.24392 29.82868  6.500288
6 229.0059 15.38015 31.51082  6.803228

   aux Y        X1       X2       X3
1   1  261.9792 23.78886 29.32720 15.273709
2   2  241.7438 19.02130 31.13219 11.682238
3   3  249.9436 23.98940 30.40001  8.641648
4   4  261.1872 23.81729 32.41257  7.503870
5   5  238.4335 21.24392 29.82868  6.500288
6   6  229.0059 15.38015 31.51082  6.803228
7   7  222.7134 17.21430 33.25731  5.308654
8   8  240.0179 19.11584 27.92714 13.469611
9   9  238.4562 19.98270 26.14620 12.496141
10 10  272.5845 27.21396 30.14018  9.318014
11 11  251.1800 22.29078 29.29288 10.798412
12 12  232.3889 17.60297 28.37134  8.869892
13 13  222.3354 16.55703 28.70007 17.324094
14 14  233.7221 19.13162 28.05159  7.613983
15 15  250.3619 19.10235 32.18025  9.835368
16 16  256.2082 18.76547 33.45574 10.750424
17 17  253.9738 20.75667 32.97648 11.854730
18 18  228.3870 17.32424 28.71146  9.482129
19 19  244.5358 21.30705 33.71491  3.328299
20 20  210.9603 16.28738 29.16196  6.209157

In [85]:
m.a.=sample(dfaux$aux,2)
m.a.

[1] 6 8

In [86]:
subset(dfaux,aux %in% m.a.)

  aux Y        X1       X2       X3
6 6   229.0059 15.38015 31.51082  6.803228
8 8   240.0179 19.11584 27.92714 13.469611

In [50]:
dfaux

   aux Y        X1       X2       X3
1  1   261.9792 23.78886 29.32720 15.273709
2  0   241.7438 19.02130 31.13219 11.682238
3  1   249.9436 23.98940 30.40001  8.641648
4  0   261.1872 23.81729 32.41257  7.503870
5  1   238.4335 21.24392 29.82868  6.500288
6  0   229.0059 15.38015 31.51082  6.803228
7  1   222.7134 17.21430 33.25731  5.308654
8  0   240.0179 19.11584 27.92714 13.469611
9  1   238.4562 19.98270 26.14620 12.496141
10 0   272.5845 27.21396 30.14018  9.318014
11 1   251.1800 22.29078 29.29288 10.798412
12 0   232.3889 17.60297 28.37134  8.869892
13 1   222.3354 16.55703 28.70007 17.324094
14 0   233.7221 19.13162 28.05159  7.613983
15 1   250.3619 19.10235 32.18025  9.835368
16 0   256.2082 18.76547 33.45574 10.750424
17 1   253.9738 20.75667 32.97648 11.854730
18 0   228.3870 17.32424 28.71146  9.482129
19 1   244.5358 21.30705 33.71491  3.328299
20 0   210.9603 16.28738 29.16196  6.209157

In [55]:

dim(df)

[1] 20  4

Procedemos a hacer una Cross Validation con 80 20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [104]:
# trabajaremos en una muestra 80-20
dfaux=cbind(aux=seq(1,dim(df)[1]),df)
#head(dfaux)
p.train= 80*dim(df)[1]/100
set.seed(0)
m.a.=sample(dfaux$aux,p.train)
df.train=subset(dfaux,aux %in% m.a.)
df.test= subset(dfaux,!(aux %in% m.a.))

In [106]:
reg1.train=lm(Y~X1+X2+X3,df.train)
reg2.train=lm(Y~0+X1+X2+X3,df.train)

In [111]:
predic=predict(reg1.train,newdata = df.test)
real=df.test$Y
sum((predic-real)^2)

[1] 169.8158

In [138]:
set.seed(2)
rnorm(1)

[1] -0.8969145

In [113]:
predic=predict(reg2.train,newdata = df.test)
real=df.test$Y
sum((predic-real)^2)

[1] 219.2357

In [145]:
#Vamos a repetir esto 10 veces
dfaux=cbind(aux=seq(1,dim(df)[1]),df)
ciclo=1000
pct=70
error_mod_1=c()
error_mod_2=c()
for (i in seq(1,ciclo)){
    set.seed(i)
    p.train= pct*dim(df)[1]/100
    m.a.=sample(dfaux$aux,p.train)
    df.train=subset(dfaux,aux %in% m.a.)
    df.test= subset(dfaux,!(aux %in% m.a.))
    real=df.test$Y
    reg1.train=lm(Y~X1+X2+X3,df.train)
    reg2.train=lm(Y~0+X1+X2+X3,df.train)
    predic1=predict(reg1.train,newdata = df.test)    
    error_mod_1=c(error_mod_1,sum((predic1-real)^2))
    predic2=predict(reg2.train,newdata = df.test)
    error_mod_2=c(error_mod_2,sum((predic2-real)^2))
}

In [146]:
sum(error_mod_1)/ciclo
sum(error_mod_2)/ciclo

[1] 388.3392

[1] 472.1227