# Álgebra lineal matricial

In [2]:
df = read.csv('https://raw.githubusercontent.com/Fabimath/mat266_taller/main/data_base/ingresos.csv')
head(df)
summary(df)colnames(df) = c('Y','X1','X2','X3')

  Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
1 261.9792             23.78886             29.32720
2 241.7438             19.02130             31.13219
3 249.9436             23.98940             30.40001
4 261.1872             23.81729             32.41257
5 238.4335             21.24392             29.82868
6 229.0059             15.38015             31.51082
  Ingresos.por.Turismo
1 15.273709
2 11.682238
3  8.641648
4  7.503870
5  6.500288
6  6.803228

 Ingresos.por.Dolares Ingresos.por.Bitcoin Ingresos.por.Inversiones
 Min.   :211.0        Min.   :15.38        Min.   :26.15
 1st Qu.:231.5        1st Qu.:17.53        1st Qu.:28.71
 Median :240.9        Median :19.12        Median :29.98
 Mean   :242.0        Mean   :19.99        Mean   :30.33
 3rd Qu.:251.9        3rd Qu.:21.55        3rd Qu.:32.24
 Max.   :272.6        Max.   :27.21        Max.   :33.71
 Ingresos.por.Turismo
 Min.   : 3.328
 1st Qu.: 7.329
 Median : 9.400
 Mean   : 9.653
 3rd Qu.:11.725
 Max.   :17.324

In [3]:
colnames(df) = c('Y','X1','X2','X3')

### Objetivo
Realizar un ajuste lineal sin usar Summary